{% extends 'tutorials/base.html' %}
{% block title %}create book{% endblock %}
{% block body %}

<div class="container-fluid">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                        <a href="{% url 'tutorials:detail' soft_tuts.id %}">
                            {% if soft_tuts.lang_logo %}
                                <img src="{{ soft_tuts.lang_logo.url }}" class="img-responsive">
                            {% else %}
                                <h3>No image to display</h3>
                            {% endif %}
                        </a>
                    <h1>{{ soft_tuts.language }} <small>{{ soft_tuts.language_description }}</small></h1>
                    <h2>{{ soft_tuts.creator }}</h2>
                </div>
            </div>
        </div>
		  <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'tutorials:detail' soft_tuts.id %}">View All</a></li>
                <li role="presentation" class="active"><a href="{% url 'tutorials:create_book' soft_tuts.id %}">Add New Book</a></li>
            </ul>
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Add a new Book</h3>
					{% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    
					<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<input type="hidden" name="soft_tuts" value="{{ soft_tuts }}">
						{% include 'tutorials/form_template.html' %}
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button role="button" class="btn btn-success">Submit</button>
							</div>
						</div>
					</form>
				</div>				
			</div>
		</div>
	</div>
	
</div>
{% endblock %}